---
interface Props {
  title: string;
  description?: string;
  structuredData?: Record<string, unknown>;
}

const { title, description, structuredData } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
    
    {structuredData && (
      <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />
    )}
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

