<footer class="my-20">
  <p class="text-center text-sm text-[#333]">
    Copyright © {new Date().getFullYear()} Blue Lawns. All rights reserved.
  </p>
  <p class="text-center text-xs text-[#333] mt-1">
    Professional Lawn Care & Landscaping in Cape May County, NJ
  </p>
</footer>
